<nav class="menu">
  <div class="container">
    <div class="row menu-flex">

      <a class="logo" routerLink="/">Contatos</a>
      
      <div class="menu-lista">
        <ul class="">
          <li class="">
            <a class="menu-item" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="">
            <a class="" routerLink="/contato/save">Novo</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="botao botao-search" type="submit">Search</button>
        </form>
      </div>

    </div>
  </div>
  
</nav>

<router-outlet></router-outlet>